.certiBox {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 480px;
    height: 300px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    .hd {
        // font-weight: bolder;
        // border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        // background: #212529;
        // color: white;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .itemValue {
                color: rgba(0, 0, 0, 0.8);
                margin: 0;
                margin-right: 8px;
                // line-height: 0;
            }
            .itemTag {
                color: rgba(0, 0, 0, 0.5);
                font-size: 0.7rem;
                margin-bottom: 2px;
            }
        }
        .deleteBtn {
            text-align: center;
            font-size: 0.65rem;
            padding: 0;
        }
    }
    .bd {
        .title {
            margin-bottom: 30px;
            .content {
                list-style: none;
                .item {
                    text-align: right;
                    margin: 10px;
                    .itemValue {
                        color: rgba(0, 0, 0, 0.8);
                        margin: 0;
                        font-size: 1rem;
                    }
                    .itemTag {
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .txt {
            display: flex;
            justify-content: end;
            ul {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                li {
                    margin-left: 8px;
                    button {
                        position: relative;
                        font-size: 0.7rem;
                        padding: 3px 8px;
                        // background-color: #212529;
                        //  :hover {
                        // background-color: #222222;
                        // }
                        border: 1px solid rgb(255, 255, 255);
                        &:hover {
                            border: 1px solid rgb(0, 0, 0);
                        }
                        span {
                            display: inline-block;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
}